.leaflet-container {
  display: inline-block;
  position: absolute;
  width: 70%;
  height: 99, 5%;
  margin-left: 38%;
  top: 0;
  right: 0;
  bottom: 0;
  border: solid 2px rgb(0, 0, 0);
}

.leftdiv {
  display: inline-block;
  width: 29%;
  /* height: 97vh; */
  text-align: justify;
  border: solid 2px rgb(0, 0, 0);
  margin: 0.2% 0% 0% 0.1%;
}

.leftdiv h1 {
  margin: 10% 0% 0% 5%;
}

.leftdiv p {
  margin: 10% 5% 5% 5%;
}
.capa1 {
  color: blue;
  display: inline-block;
  width: 20px;
  background-color: #f52e75;
}

.capa2 {
  color: blue;
  display: inline-block;
  width: 20px;
  background-color: #c500ff;
}

.capa3 {
  color: blue;
  display: inline-block;
  width: 20px;
  background-color: #73ffdf;
}

.popup_transparente .leaflet-popup-content-wrapper,
.popup_transparente .leaflet-popup-tip {
  background-color: #ff000000; /* transparente */
  width: 550px;
}

.capa4 {
  color: blue;
  display: inline-block;
  width: 20px;
  background-color: #55ff00;
}

.circulo {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  background-color: green;
}

.icon-eye-slash:before {
  content: "\e903";
}

.icon-eye:before {
  content: "\e904";
}

/*Manejo de estilo de la caja*/

.leaflet-html-legend {
  background-color: rgb(255, 255, 255);
}
